<!DOCTYPE html>
<html>
    
       
    <head>
        <title>Weather-About</title>
        <link rel="icon" href="/images/icon.png">
         <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <img src='/images/sne_am.jpg' class="portrait" style="width:200;height:200px;">
        </div>
        

        {{>footer}}
    </body>
    
</html>